
  
  .container-post {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
    margin: auto;
    margin-bottom: 200px;
    width: 70%;

    padding: 2px;
  }
  
  .post {
    width: 20%;
    height: 300px;
    margin: auto;
    padding: 10px;
  }
  
  .post img{
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  .post h2{
    text-align: center;
  }

  .description{
    margin-left: 20px;
  }