
  .code{
    
  }
  
  pre {
    font-family: Consolas,"courier new";
    background-color: #f1f1f1;
    padding: 2px;
    font-size: 105%;
  }
  
  .container-post {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
    margin: auto;
    margin-bottom: 200px;
    width: 70%;

    padding: 2px;
  }
  
  .post {
    width: 25%;
    height: 300px;
    margin: auto;
    padding: 10px;
    object-fit: cover;
  }
  
  .post img{
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  .post h2{
    text-align: center;
  }

  .description{
    margin-left: 20px;
  }
  @media (max-width: 1000px) {
    .post {
      width: 50%;
    }
  }
  @media (max-width: 800px) {
    .post {
      width: 100%;
    }
  }