{{define "contenthead"}}
<head>
        <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DJH5DT4MY4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-DJH5DT4MY4');
    </script>
  
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>{{.Title}}</title>
    <meta content="{{.Title}}" name="title">
    <meta content="{{.Slug}}" name="keywords">
    <meta content="{{.Description}}" name="description">
    <meta content="" name="author">

    <!-- Favicons -->
    <link href="/site/assets/img/favicon.png" rel="icon">
    <link href="/site/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="/site/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/site/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/site/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/site/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/site/assets/vendor/aos/aos.css" rel="stylesheet">
  
    <!-- Template Main CSS Files -->
    <link href="/site/assets/css/variables.css" rel="stylesheet">
    <link href="/site/assets/css/main.css" rel="stylesheet">
    <link href="/site/assets/css/style.css" rel="stylesheet">
  
    <!-- =======================================================
    * Template Name: ZenBlog - v1.1.0
    * Template URL: https://bootstrapmade.com/zenblog-bootstrap-blog-template/
    * Author: BootstrapMade.com
    * License: https:///bootstrapmade.com/license/
    ======================================================== -->
  </head>
  {{end}}